<!-- [class.open]="isSidebarOpen" -->
<div class="sidebar bg-dark text-white">
    <div class="brand-logo">
      <i class="fab fa-apple"></i> Brand Name
    </div>
  
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-users"></i> Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-question-circle"></i> Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-lock"></i> Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </li>
    </ul>
  </div>
  